.item {
  width: 25%;
}

.posts{
    /* flex: 9; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    flex-direction: row; */
}

/* .posts > div {
  flex: 25%;
  box-shadow: 0 0 0 1px black;
  margin-bottom: 10px;
} */