.top {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: left;
    font-family: "georgia", serif;
    font-weight: bolder;
    background-color: #7c5295;
}
  
.topList {
    display: flex;
    margin: .1%;
    list-style: none;
}

.top a:link {
    text-decoration: none;
    color: white;
}

.top a:visited {
    text-decoration: none;
    color: white;
}

.top a:hover {
    text-decoration: none;
    color: white;
}

.top a:active {
    text-decoration: none;
    color: white;
}
  
.topListItem {
    font-size: 10%;
    cursor: pointer;
    padding-right: 20%;
}

.topList p {
    font-size: small;
    font-weight: 100;
}
  