.top {
    width: 100%;
    height: 50%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    font-family: "verdana", sans-serif;
    font-weight: bolder;
    background-color: black;
}
  
.topList {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.top a:link {
    text-decoration: none;
    color: white;
}

.top a:visited {
    text-decoration: none;
    color: white;
}

.top a:hover {
    text-decoration: none;
    color: white;
}

.top a:active {
    text-decoration: none;
    color: white;
}
  
.topListItem {
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    padding: 10%;
}
  