.top {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    font-family: "Verdana";
    font-weight: bolder;
    background-color: #7c5295;
    clear: left;
    text-align: center;
}
  
.topList {
    padding: 0;
    margin: 0;
    margin: .1%;
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    float: left;
    text-align: center;
}

.top a:link {
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
}

.top a:visited {
    text-decoration: none;
    color: white;
}

.top a:hover {
    text-decoration: none;
    color: white;
}

.top a:active {
    text-decoration: none;
    color: white;
}
  
.topListItem {
    font-size: 10%;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.topList p {
    font-size: clamp(12px, 1vw, 24px);
    font-weight: 100;
}
  