.intro img {
  padding: 2%;
  max-width: 20%;
  display: flex;
  justify-content: center;
  border-radius: 20%;
}

.intro p {
  color: white;
  text-align: left;
}

.intro h1 {
  color: white;
  text-align: left;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #42378f;
  background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

.aboutme {
  max-width: 30%;
}

.posts {
  margin-left: auto;
  margin-right: auto;
  margin-top: -2%;
  margin-bottom: 10%;
}
