<nav>
  <a class="logo-link" href="/">
    <h1>Ishan's Blog</h1>
    <span>As of 2023.08.01</span>
  </a>
  <small>
    <a id="about" class="info-link" href="/about.html">About</a> /
    <a id="works" class="info-link" href="/works.html">Works</a> /
    <a id="articles" class="info-link" href="/articles.html">Articles</a>
  </small>
</nav>
